{
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4
}
