@import 'tailwindcss';

@theme {
    --font-sans: 'Inter Variable', 'sans-serif';
    --font-mono: 'Reddit Mono Variable', monospace;
    --color-rebeccapurple: rebeccapurple;
    --color-link: var(--color-blue-600);
}
