---
import { Image } from 'astro:assets';
import cssLogo from '../assets/css.light.svg';
---

<header class="p-2 bg-rebeccapurple text-white">
    <a href="/" class="flex items-center gap-2">
        <Image src={cssLogo} alt="CSS Logo" width="24" />
        <h1 class="text-xl font-extrabold">Modern CSS</h1>
    </a>
</header>
